<ngb-carousel class="carousel-dark">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="..\assets\CU Investment Club logo.png" alt="First slide">
      </div>
      <!-- <div class="carousel-caption">
        <h3>First slide label</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div> -->
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="..\assets\enactus.png" alt="Second slide">
      </div>
      <!-- <div class="carousel-caption">
        <h3>Second slide label</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div> -->
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="..\assets\engineering club.png" alt="Third slide">
      </div>
      <!-- <div class="carousel-caption">
        <h3>First slide label</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div> -->
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="..\assets\turning point.png" alt="Fourth slide">
      </div>
      <!-- <div class="carousel-caption">
        <h3>Third slide label</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div> -->
    </ng-template>
</ngb-carousel>