a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
  }
  
  a:link {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
  }

  a:visited {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
  }

  a:hover {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
  }

  a:active {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
  }

   .img-fluid{
    height:200px;
    width:206px;
    align-self: center;
}

/*.img-fluid{
    height:200px;
    width:206px;
    align-self: center;
}
.card{
    height:300px;
    width:300px;
    padding: 20px;
}
.card-title{
    font-size: 1.5em;
}
.card-body{
    overflow-wrap: break-word;
}
table { 
    table-layout: fixed; 
    width: 100%; 
}

th, tr, td{
    padding: 20px;
    outline: none;
    border:0ch;
    white-space:nowrap;
}

.org_name{
    font-size: 200px;
}

/* .org_description{

} */